**/.env
**/.env.*
node_modules/
.DS_Store
dist/
build/
.next/
*.zip
*.tar.gz
*.rar
*.7z
__pycache__/
*.pyc
service_account.json
client_secret_*.json
~$*.doc*
dump.txt
uvicorn_out.log
uvicorn_err.log
uvicorn_debug.log
